.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  transition: all .4s ease;
  border-radius: 30px;
  padding: 25px 24px;
  background-color: rgba(255, 255, 255, 0.03);
  user-select: none;
  cursor: pointer;
  opacity: 0.4;
  transform: translate(-20px, -20px) scale(0.9);
  filter: blur(10px);

  &.show {
    button span:nth-child(2) {
      rotate: 90deg;
      left: 25%;
      top: calc(25% + 2px);
    }
  }
  h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.18px;
    white-space: wrap;
    color: #fff;
  }
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    button {
      width: 28px;
      height: 28px;
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      span {
        width: 12px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .4s ease;
      }

      span:nth-child(2) {
        height: 12px;
        width: 2px;
      }
    }
  }
}

.description {
  max-height: 0; 
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.description.open {
  margin-top: 12px;
  max-height: 500px; 
  transition: all 0.3s ease;
  opacity: 1;
  
  p {
    opacity: 0;
    animation: parAnim 1 ease forwards;
  }
}

.inView {
  opacity: 1;
  transform: translate(0, 0) scale(1);
  filter: blur(0);
}

@keyframes parAnim {
  to {
    opacity: 1;
  }
}