.inView {
  animation: fadeUp 0.7s ease forwards;
}

@keyframes fadeUp {
  0% {
    filter: blur(10px);
    transform: translate(0, -100px) scale(0.9);
  }100% {
    filter: blur(0);
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}