@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

body {
  background: rgb(15, 15, 15);
  color: #fff;
  color: var(--foreground);
  font-family: "Onest", sans-serif;

  p {
    color: rgba(255, 255, 255, 0.65);
  }

  button,
  input,
  a {
    font-family: 'Inter', sans-serif;
  }
}
