
.header {
  display: flex;
  width: 100%;
  padding: 26px 29px;
  justify-content: space-between;
  color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;

  button {
    cursor: pointer;
  }

  svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  nav {
    display: flex;
    cursor: default;
    gap: 12px;

    button {
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 15px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }

    button:nth-child(2) {
      background-color: rgba(255, 255, 255, 0.05);
      
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }
}